.box {
  width: 300px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

dt {
  font-weight: 500;
}
